<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myautocare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivities.BrandActivities.BrandUserViews.BmwUserView"></activity>
        <activity android:name=".User.SignUpActivity" />
        <activity android:name=".MenuActivities.Brands" />
        <activity android:name=".MenuActivities.BrandActivities.Toyota" />
        <activity android:name=".MenuActivities.BrandActivities.Mercedes" />
        <activity android:name=".MenuActivities.BrandActivities.RangeRover" />
        <activity android:name=".MenuActivities.BrandActivities.BMW" />
        <activity android:name=".MenuActivities.ContactUs" />
        <activity android:name=".MenuActivities.AboutUs" />
        <activity android:name=".MenuActivities.Settings" />
        <activity android:name=".MenuActivities.Mylocation" />
        <activity android:name=".MenuActivities.MyParts" />
        <activity android:name=".MenuActivities.Profile" />
        <activity android:name=".Admin.AdminViews.Toyota.ImagesToyotaActivity" />
        <activity android:name=".Admin.AdminViews.Toyota.MainToyotaActivity" />
        <activity android:name=".Admin.AdminViews.RangeRover.ImagesRangeActivity" />
        <activity android:name=".Admin.AdminViews.RangeRover.MainRangeActivity" />
        <activity android:name=".Admin.AdminViews.Mercedes.ImagesMercActivity" />
        <activity android:name=".Admin.AdminViews.Mercedes.MainMercActivity" />
        <activity android:name=".Admin.AdminViews.BMW.ImagesActivity" />
        <activity android:name=".Admin.AdminViews.BMW.Main2Activity" />
        <activity android:name=".Admin.AdminHome" />
        <activity android:name=".Admin.AdminSignup" />
        <activity android:name=".Admin.AdminLogin" />
        <activity android:name=".User.LoginActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>